#hero-section h6 {
    background-color: none;
    padding: 250px;
    border-radius: 5px;
}

/* İndirim Yazısı Stili */
.discount-banner {
    background-color: white;
    /* Kırmızı arka plan rengi */
    color: rgb(55, 31, 33);
    /* Beyaz metin rengi */
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    /* İstenirse üst boşluk eklenebilir */
}

.discount-icon {
    font-size: 36px;
    margin-right: 10px;
}

/* Carousel Section */
#book-carousel {
    width: 100%;
    margin: auto;
}

.carousel-inner {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.carousel-item {
    flex: 0 0 auto;
    width: 100%;
    /* Ayarladığınız her kitap genişliği */
}

.book {
    width: 200px;
    /* Ayarladığınız her kitap genişliği */
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    transition: transform 0.3s;
    display: inline-block;
    /* Kitapları yan yana getirmek için ekledik */
    margin: 0 5px;
    /* Kitaplar arasındaki boşluğu ayarlamak için ekledik */
}

.book:hover {
    transform: scale(1.05);
}

.book img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.book__title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.book__ratings {
    color: #ffc107;
    margin-bottom: 5px;
}

.book__price {
    font-size: 14px;
    color: #dc3545;
}

.carousel-control-prev,
.carousel-control-next {
    background: none;
    /* Arka planı kaldır */
    border: none;
    /* Kenarlığı kaldır */
    font-size: 24px;
    /* Ok simgelerinin boyutunu ayarla */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: transparent;
    /* Ok simgesinin arka planını kaldır */
    color: #000000;
    /* Ok simgesinin rengini ayarla */
}

/*Library */
#bookList {
    display: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bookCard {
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    color: white;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden; /* Kart içeriğinin taşmasını önler */
}

#cart {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
}

.bookCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.bookCard:hover {
    border: 2px solid #4CAF50;
    /* Kart çerçevesini renklendirir */
}

.bookCard:hover img {
    filter: blur(5px);
    /* Görseli bulanıklaştırır */
}

.bookDetails {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    display: none;
}

.bookCard:hover .bookDetails {
    display: block;
}

#bookList input[type="checkbox"] {
    display: block;
    /* veya inline, inline-block, vs. */
}

 /* CSS for the modal */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);
            padding-top: 60px;
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 60%;
            max-width: 400px;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

     /* LOGIN FORM */
     .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        padding-top: 60px;
    }
    
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }
    
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    
    .login-form {
        text-align: center;
    }
    
    .login-form h2 {
        color: #333;
    }
    
    .login-form form {
        max-width: 300px;
        margin: 0 auto;
    }
    
    .login-form label {
        display: block;
        margin-bottom: 8px;
        color: #555;
    }
    
    .login-form input {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
    }
    
    .login-form button {
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .login-form button:hover {
        background-color: #45a049;
    }
    .flex{
        display: flex;
        flex-grow: 1;
        font-weight: 600;
        
    }
    
    
    
 .kapat{
    display: flex;justify-content: flex-end; font-weight: bolder; font-size:30px;cursor:  pointer;
 }
 #ali {
    display: inline-block;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 8px;
}
.fixed-button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 16px; 
  }